.game-title, .instructions {
  text-align: center;
}

.instructions {
  font-style: italic;
  font-size: 1.3em;
}

.score-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

.game-container {
  text-align: center;
  margin-top: 5rem;
}

.game-container > p {
  margin-top: 0;
}

.game-container > h2 {
  margin-bottom: 0;
}

.controls-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

div#player-score, div#computer-score {
  margin-top: 1rem;
}

button#restart {
  margin-inline: auto;
  margin-top: 2rem;
  display: none;
}